.text-purple {
    color: #7B1FA2;
}

.btn-purple {
    background-color: #7B1FA2;
    color: white;
}

.btn-purple:hover {
    background-color: #6a1b9a;
    color: white;
}

.btn-outline-purple {
    border-color: #7B1FA2;
    color: #7B1FA2;
}

.btn-outline-purple:hover {
    background-color: #7B1FA2;
    color: white;
}
.extra-rounded-bottom{
    border-bottom-left-radius: 4rem !important;
    border-bottom-right-radius: 4rem !important;
}
.carousel-container-area{   
        padding: 0 1rem;
    }
.Heading-container-area{
    position: relative;
    left: 15px;
}