.carousel-container .react-multi-carousel-item {
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.carousel-container .react-multi-carousel-item--active {
    opacity: 1;
}

.react-multi-carousel-item {
    padding: 0 20px;
}


.searchConstant {
    position: relative;    
    bottom: 200px;
    width: 40%;
    left: 55%;
    padding: 20px;
    border-top: 0.1px solid rgba(255, 255, 255, 0.15);
    background-color: #42424226;
    border-radius: 15px;
    backdrop-filter: blur(5px);    
}
.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
  }
  .input-group {
    position: relative;
    border-radius: 4px;
  }
  .input {
    width: 100%;
    padding: 10px 20px 10px 40px;
    border: none;
    border-radius: 12px !important;
    font-size: 16px;
    outline: none;
    background-color: #fff;
  }
  .submit-btn {
    display: block;
    border: none;
    background: #1e88e5;
    color: #fff;
    padding: 9px 35px;
    border-radius: 8px;
    text-transform: capitalize;
    font-size: 18px;
  }
  .input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #777;
    pointer-events: none;
  }
  