.containner_style {
  min-height: "100vh";
  width: "100vw";
  background-image: url("../../assets/image/banner3.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  background-attachment: "scroll"
}
@media (max-width: 768px) {
@media (min-width: 992px) {
  .search-bar {
    max-width: 600px;
  }
  .search-bar {
    border-radius: 0 !important; /* Removes pill shape on mobile */
    flex-direction: column;
    gap: 5px;       
  }
  .rounded-pill{
    border-radius: 0 !important
  }
  }
  .search-input,
  .dropdown-btn,
  .search-btn {
    width: 100%;
  }
  .containner_style {
    padding: 20px 10px;
  }
}
@media (max-width: 768px){
  .rounded-pill{
    border-radius: 0 !important
  }

}
