@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.banner-section3 {
  padding: 100px 0;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(120deg, #154f81 0%, #d0d8e2 43%);
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.banner-section3 .position-img3 {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 75%;
  object-fit: cover;
  height: auto;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.hero-content .inner-content .hero-heading .H1ban3 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  /* Semi-bold */
  font-size: 36px;
  /* background: #fff; */
  color: #424242;
}

.secondH1_ban3 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 36px;
  background: none;
  color: #1E88E5;
}

.hero-content .inner-content .hero-heading .H2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  /* Semi-bold */
  font-size: 24px;
  color: #424242;
}

.secondH2 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #424242;
}

.hero-content .inner-content .hero-heading span {
  display: inline-block;
  font-size: 28px;
  border-radius: 5px;
  font-weight: 900;
  padding: 0 5px 5px;
}

.hero-content .inner-content .hero-sub-heading span {
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  line-height: 1;
}

.banner-section3 hr {
  stroke-width: 3;
  border: none;
  border-top: 3px solid white;
  width: 100%;
  margin: auto;
}

.hero-description {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  /* Semi-bold */
  font-size: 16px;
  color: #424242;
  margin: auto;
}

.banner-section3 .input-field {
  padding: 20px;
  border-top: 0.1px solid rgba(255, 255, 255, 0.15);
  background-color: #42424226;
  border-radius: 15px;
  backdrop-filter: blur(5px);
}

.input-field .form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 20px;
}

.input-field .form-wrapper .input-group {
  position: relative;
  border-radius: 4px;
}

.input-group input {
  width: 100%;
  padding: 10px 20px 10px 40px;
  border: none;
  border-radius: 12px !important;
  font-size: 16px;
  outline: none;
  background-color: #fff;
}

.input-field .form-wrapper .submit-btn {
  display: block;
  border: none;
  background: #1e88e5;
  color: #fff;
  padding: 9px 35px;
  border-radius: 8px;
  text-transform: capitalize;
  font-size: 18px;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #777;
  pointer-events: none;
}


@media screen and (min-width: 1920px) and (min-height: 1080px) {

  /* Your custom styles for full HD large screens here */
  .banner-section3 {
    width: 70%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(120deg, #154f81 0%, #d0d8e2 43%);
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .banner-section3 .position-img3 {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 60%;
    object-fit: cover;
    height: auto;
  }


  .hero-content {
    gap: 100px;
  }

  .hero-heading .H1,
  .secondH1 {
    font-size: 48px;
  }

  .hero-heading .H2,
  .secondH2 {
    font-size: 30px;
  }

  .hero-description {
    font-size: 20px;
  }

  .input-field .form-wrapper .submit-btn {
    padding: 12px 45px;
    font-size: 20px;
  }

  .position-img2 {
    width: 85%;
  }
}
@media screen and (min-width: 1500px) {
  .banner-section3 .position-img3 {
    width: 68%;
  }
  .hero-content{
    padding-right: 8px;
  }
}
@media screen and (min-width: 1600px) {
  .banner-section3 .position-img3 {
    width: 62%;
  }
  .hero-content{
    padding-right: 8px;
  }
}

@media screen and (min-width: 1800px) {
  .banner-section3 .position-img3 {
    width: 55%;
  }
  .hero-content{
    padding-right: 15px;
  }
}

@media screen and (min-width: 2000px) {
  .banner-section3 .position-img3 {
    width: 47%;
  }
  .hero-content{
    padding-right: 15px;
  }
}