@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


.header-jobs h1 {
    color: #1E88E5;
    font-family: "Poppins";
    font-weight: 700;
}
.bookmark_icon_position{
    position: relative;
    left: 25%;    
    
}

.card-wrap {
    /* width:450%;                 */
    border-radius: 40px;
    margin-bottom: 16px;
    background-color: #1565C040;
    display: flex;
    flex-direction: column;   

}

.job-contant {
    overflow: hidden;

    background-color: #FFFFFF;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    position: relative;
    right: 3%;



}

.job-contant img {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50px;
}

.jobs {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;


}

.body-text {
    width: auto;
    display: flex;
}

.ctc {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: last baseline;
}

.ctc {
    font-weight: 500;
    font-size: 15px;
}

.job-card-bg {
    background-color: #e3edf9;
    /* light blue from Figma */
}
.lpa-position{
    position: relative;
    left: 10%;    
}
.viewButton_position{
    position: relative;
    right: 13%;
}
@media (max-width: 767.98px) {
    .card-wrap {
      width: 90% !important;
      margin: 0 auto;
    }
  
    .ctc {
      flex-direction: column;
      align-items: flex-start !important;
      gap: 0.5rem;
    }
  
    .ctc button {
      width: 100%;
    }
  
    .job-contant {
      flex-direction: column;
    }
  
    .card-wrap img {
      max-width: 100%;
      height: auto;
    }
  }