@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.sidebar-item {
    color: #1e1e1e;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.sidebar-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

.active-item {
    background-color: white;
    border-radius: 12px;
    color: #1a73e8 !important;
    font-weight: bold;
}

.RightsideFontcolor {
    font-family: 'Poppins', sans-serif !important;
    color: #424242!important;
}
.inputGroupbg{
    background-color: #f2f2f2!important;
}
@media (max-width: 768px) {
  .container,
  .row,
  .col {
    margin: 0 !important;
    padding: 0 !important;
  }
}